{% extends 'base.html' %}

{% block title %} FAQs {% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
           <div class="col-md-8 offset-2">
               <article class="blog-post">
                <p>Here you easily browse through your desire question(s).</p>
                <h4>Question 1</h4>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.
                </p>

                <h4>Question 2</h4>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.
                </p>

                <h4>Question 3</h4>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.
                </p>
              </article>
           </div>
        </div>
    </div>

{% endblock %}